/microservicecloud-api/
/microservicecloud-consumer-dept-80/
/microservicecloud-eureka-7001/
/microservicecloud-eureka-7002/
/microservicecloud-eureka-7003/
/microservicecloud-provider-dept-8001/
/microservicecloud-provider-dept-8002/
/microservicecloud-provider-dept-8003/
.settings
.project
target
.classpath
*.gitignore
*.o
*.so
*.log
*~
.*.swp
*.a
*.gch
*.dir
*.class